.Button{
    background: white;
    color: black;
    font-size: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    padding-bottom: 5px;
    border: solid #F2F2F2FF;
}