.Maploader {
    width: 100%;
}

.buttonGroup {
    width: 100px;
    position: absolute;
    top: 300px;
    right: 0;
}

.dragWrapper {
    width: 1000px;
    height: 800px;
    background: #F2F2F2FF;
    overflow: hidden;
    position: relative;
    margin: 0 auto;

}
